<div class="container-fluid footer">
    <footer>
        <div class="row">
            <div class="col-12 col-sm-3"><img class="footer-logo"  src="assets/images/logo.png"  alt="Soundbrenner"></div>
            <div class="col-12 col-sm-9 footer-text-col">
                <a href="#" class="footer-text">About</a> <hr>
                <a href="#" class="footer-text">Services</a> <hr>
                <a href="#" class="footer-text">Contact</a> <hr>
            </div>
        </div>
    </footer>
</div> 
<nav class="navbar navbar-light bg-light">
{%- if site.show-style-guide %}
    <a href="{{ site.baseurl }}{% link style-guide/index.md %}" class="btn">Style Guide</a>
{%- endif %}
</nav>