<nav class="navbar navbar-expand-sm navbar-light bg-light" id="navbar">
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="{{ site.baseurl }}/home.html">Home</a>
                <a class="nav-item nav-link" href="{{ site.baseurl }}/info.html">Info</a>
            <div class="nav-brand">
                <a class="navbar-brand" href="{{ site.baseurl }}/home.html">
                <img class="logo"  src="assets/images/logo.png"  alt="Soundbrenner">
                </a>
            </div>
                <a class="nav-item nav-link" href="{{ site.baseurl }}/donate.html">Donate</a>
                <a class="nav-item nav-link" href="{{ site.baseurl }}/subscribe.html">Log In</a>
            </div>
        </div>
    </nav>